__pycache__/
.idea/
Harvey/
Michael/
HIM Data/
Irma/
Literature/
Presentations/
Twitter-V2-API/
twitter_R/
DIgv55IXYAAjBBX.jpg
first_html.html
image_icr.sps
image_icr_kalpha.sps
irma_regress1.pdf
irma_user_text.xlsx
notes.docx
quoted.csv
scratch.py
tuchy_interp.docx
unique_bot_text.csv
tweet_coding/__init__.pyc
tweet_coding/coding/__init__.pyc
tweet_coding/coding/code_tweet.pyc
tweet_coding/coding/code_ww_tweet.pyc
tweet_coding/coding/display_tweet.pyc
tweet_coding/coding/display_progress.pyc
tweet_coding/tweet_coding.pyc