__pycache__/
.idea/
Harvey/
HIM Data/
Irma/
Literature/
Presentations/
Twitter-V2-API/
notes.docx
scratch.py
tweet_coding/__init__.pyc
tweet_coding/coding/__init__.pyc
tweet_coding/coding/code_tweet.pyc
tweet_coding/coding/code_ww_tweet.pyc
tweet_coding/coding/display_tweet.pyc
tweet_coding/coding/display_progress.pyc
tweet_coding/tweet_coding.pyc